body {
  background-image: url(http://vignette3.wikia.nocookie.net/destinypedia/images/2/26/Raid_Emblem.png/revision/latest?cb=20140802205132);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}


.center{
  text-align: center;
}

.right{
  float: right;
}


.left{
  float: left;
}


.footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:60px;
}
